:root {
    --red:hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-image: url(/images/bg-intro-mobile.png);
    background-color: var(--red);
    text-align: center;
}

h1 {
    margin-top: 90px;
    font-size: 26px;
    padding: 0px 20px 0px 20px;
}

h1, p {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 55px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--grayish-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

span {
    color: var(--red);
    font-weight: 700;
}

footer {
    text-align: center;
}

input {
    padding-left: 20px;
}

input:invalid {
    background: url(/images/icon-error.svg) no-repeat 85%;
    background-color: white;
}

.top-blurb {
    padding: 0px 30px 0px 30px;
    margin-bottom: 65px;
}

/*middle card styling*/

.try-free-card {
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 20px 52px;
    font-size: 16px;
    width: 230px;
    line-height: 1.5rem;
    margin: 0 auto;
    box-shadow: 0px 7px rgba(0, 0, 0, 0.199);
}

.card-bold {
    color: white;
}

/*middle card styling end*/

/*form styling below*/

.sign-up-form {
    background-color: white;
    max-height: 400px;
    margin: 30px 20px 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 7px rgba(0, 0, 0, 0.199);
}

.form-terms {
    color: var(--grayish-blue);
    font-size: 11px;
    padding: 0px 30px 0px 30px;
    margin-top: 0;
}

.claim-trial-b {
    background-color: var(--green);
    border: 1px solid var(--green);
    box-shadow: 0px 5px hsl(154, 55%, 46%);
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    padding: 0;
    cursor: pointer;
}

.claim-trial-b:hover {
    background-color: hsl(154, 75%, 65%);
}

/*form styling end*/

/*desktop styling below*/

@media (min-width: 1440px) {
    body {
        background-image: url(/images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        text-align: left;
        margin-top: 50px;
    }

    h1 {
        font-size: 50px;
        padding: 0px 30px 0px 0px;
        margin-bottom: 30px;
        line-height: 3rem;
    }

    .top-blurb {
        padding: 0px 50px 0px 0px;
    }

    
    .full-page {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 140px;
    }

    .try-free-card {
        width: 415px;
        padding: 15px 60px;
        text-align: center;
    }

    .sign-up-form {
        width: 470px;
        max-height: fit-content;
        padding: 35px;
        margin-top: 20px;
    }

    .form-terms {
        padding: 0;
        text-align: center;
    }
}

/*footer styling below*/

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: rgb(84, 44, 129);
}

.fa-brands{
    font-size: 30px;
    color: white;
    margin: 15px 0px 10px 0px;
}
