:root {
    --red:hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-image: url(/images/bg-intro-mobile.png);
    background-color: var(--red);
}

form {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
}

input:invalid {
    background: url(/images/icon-error.svg) no-repeat 85%;
    background-color: white;
}
.attribution {
	font-size: 11px;
	text-align: center;
    color: var(--blue);
}
.attribution a {
	color: white;
}

.fa-brands{
    font-size: 30px;
    color: white;
    margin-top: 15px;
}
